button{
    padding:2px;
    height:40px;
    width:120px;
    text-align: center;
    margin-top:20px;
    color:white;
    border:none;
    background-color:#0578fe;
    border-radius:5px ;
    margin-bottom:0.25%;
}textarea{
    height:40vh;
    width:45%;
}
.a1{
    margin-top:5%;
    height:70vh;
    width:60%;
    margin-left: 20%;
    text-align: center;
  place-self: center;
    padding-top:0.1%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}